/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

 body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    .search-form {
      display: flex;
      margin: auto;
      padding: 20px;
    }
    .search-form label,
    .search-form input,
    .search-form button {
      display: block;
      /* width: 100%; */
      margin-bottom: 10px;
    }
    .search-form input {
      width: 272px;
      border-radius: 4px;
      padding: 10px;
      border: 1px solid #808080;
    }
    .search-form button {
      width: 91px; /* Встановлення ширини кнопки */
      height: 40px; /* Встановлення висоти кнопки */
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 8px; /* Заокруглення лівої і правої сторони */
      cursor: pointer;
    }
    .search-form button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    .results {
      max-width: 800px;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .results img {
      max-width: 200px;
      height: auto;
      border-radius: 8px;
    }
